*/bin/*
*/obj/*
/obj/
/bin/
bin/*
Server/.vs/*
Server/.idea/*
Server/Server.Api/bin/*
Server/Server.Api/obj/*
Server/Server.Database/obj/*
Server/Server.Database/chat.*
Server/Server.Database/bin/*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?