* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	outline: none;
	text-decoration: none;
	font-family: "Apple-system";
}

@font-face {
    font-family: "Apple-system";
    src: url("../assets/fonts/Inter-VariableFont_opsz.ttf");
    font-size: 16px;
}

img,
input {
	width: 100%;
	height: 100%;
}